.boxed
  %p
    = form.label :language_id, t(:default_language)
  = render :partial => 'language/language_select' 
  %p
    = form.label :email, t(:email)
  = form.text_field :email, :class => 'title'
  %p
    = form.label :password, form.object.new_record? ? nil : t(:change_password)
  = form.password_field :password, :class => 'title'
  %p
    = form.label :password_confirmation, t(:password_confirmation)
  = form.password_field :password_confirmation, :class => 'title'