= render :partial => "shared/header"
= render :partial => '/shared/nav', :locals => {:nav => [[t(:home), root_path]], :active =>t(:home)}
%h2.colored
  Register
- form_for @user, :url => users_path, :method => :post do |f|
  = f.error_messages
  = render :partial => "form", :object => f
  %button{:type => "submit", :name => "commit", :value => t(:register), :class => 'button positive'}
    =t(:register)
  = link_to t(:cancel), request.env["HTTP_REFERER"], :class => 'button'
