#options
  %h2.colored
    Options
  - if current_user
    %p
      - if current_language == nil
        You are currently viewing
        %strong scientific names.
      - else
        You are currently viewing
        %strong
          common names in
          =h current_language.to_s + "."
    - if current_language
      %h4 Filters
      %ul
        %li
          %a{'href' => "/"}
            Clear filter
        %li
          %a{'href' => "?filter=all"}
            = "View common names in #{current_language.to_s} where available with scientific names"
        %li
          %a{'href' => "?filter=common"}
            = "View only taxa with common names in #{current_language.to_s}"
        %li
          %a{'href' => "?filter=scientific"}
            = "View only taxa without common names in #{current_language.to_s}"
      
  - else
    %p 
      You must be logged in to see your options!