#user_control
  -if current_user
    #loggedin-buttons
      %h4= "Logged in as #{current_user.email}"
      = link_to "Settings", edit_user_path(current_user), :class => "button"
      = link_to "Log out", user_session_path, :method => :delete, :class => "button"
  - else
    #login-buttons
      = link_to "Log in", "#", :id => "login_button", :class => "button"
      = link_to "Sign up", new_user_path, :class => "button"
    #login.clearfix
      - form_tag user_session_path, :method => :post do
        .form-row.clearfix
          #standard
            .title
              %strong Login with Email
              = link_to "Use OpenID", "#", :class => "openid_button"
            .email
              = text_field_tag 'email', '', :class => 'text', :title => "Email"
            .password
              = password_field_tag 'password', '', :class => 'text', :title => "Password"
          #openid
            .title
              %strong Login with OpenID
              = link_to "Use Standard", "#", :class => "regular_button"
            .openid
              = text_field_tag 'openid_identifier', '', :class => 'text', :title => "OpenID"
        .form-row.clearfix
          .remember-me
            = check_box_tag 'remember_me'
            = label_tag 'remember_me', 'Remember me'
          .submit.buttons
            %button{:type => "submit", :name => "commit", :value => "Login", :class => 'button positive'} Login
            = link_to "Cancel", "#", :id => "login_cancel_button", :class => "button"
          