= render :partial => "/shared/header"
= render :partial => '/shared/nav'
= render :partial => "/shared/flash", :locals => { :flash => flash }
= render :partial => "/taxonomy_navigation/dropdowns"
          
.box.clear
#colLeft
  %h2.colored
    =t :common_names
    %span#browsing
  = render :partial => "shared/common_names_filter"
  .boxed
    #names
        
#colRight
  %h2.colored
    =t :exemplary_photo
  #best-photo.boxed
    %img{:id => 'best'}
  - if current_user
    %h2.colored
      =t :name_it
    .boxed
      #create
        = render:partial => "common_names/create_form"



.box.clear
  %h2.colored
    =t :photos
  = render :partial => "shared/photos_filter"
  .boxed
    #photos
    #no-results 
    #spinner= image_tag 'loader.gif'
  
.box.clear
  %h2.colored
    =t :statistics
  #stats