= render :partial => "/shared/header"
= render :partial => '/shared/nav', :locals => {:nav => [[t(:home), root_path]], :active =>t(:home)}
= render :partial => "/shared/flash", :locals => { :flash => flash }
= render :partial => "/taxonomy_navigation/dropdowns"
          
.box.clear
#colLeft
  %h2.colored
    =t :common_names
    %span#browsing
  = render :partial => "shared/common_names_filter"
  .boxed
    #names
        
#colRight
  %h2.colored
    =t :exemplary_photo
  #best-photo.boxed
    %img{:id => 'best'}
  %h2.colored
    =t :name_it
  .boxed
    #create
      - if current_user
        = render:partial => "common_names/create_form"
      - else
        %p
          =t :please_login


.box.clear
  %h2.colored
    =t :photos
  .boxed
    #photos
    #no-results 
    #spinner= image_tag 'loader.gif'
  
.box.clear
  %h2.colored
    =t :statistics
  #stats