= render :partial => "/shared/header", :locals => { :title => @species.name, :subtitle => "", :flash => flash }

#scientific_name
  %span.detail Scientific Name
  %h2= @species.name

%table#longevity
  %thead
    %tr
      %th Lifespan
      %th Citation
      - if logged_in? && current_user.karma.levels.bronze?
        %th Actions
  %tbody
    - @species.lifespans.each do |lifespan|
      %tr
        %td.lifespan= lifespan
        %td.citation  [citation]
        - if logged_in? && current_user.karma.levels.bronze?
          %td.actions   
            = link_to 'edit', edit_lifespan_path(@species, lifespan)
            =# link_to 'delete'

= link_to 'Add Lifespan Annotation', new_lifespan_path(@species),  :class => "button"
