= render :partial => "/shared/header", :locals => { :title => @species.name, :subtitle => "", :flash => flash }

%h2 Editing Lifespan

- form_for :lifespan, :url => { :action => :update }, :html => {:method => :put} do |f|
  .form_input
    = f.label :value, "Lifespan"
    %br
    = f.text_field :value, :class => "text", :style => "width: 50px"
    = f.select :units, ["Years", "Months", "Days"]
  
  .form_input
    [Citation Form]

  .form_input
    %button{:type => "submit", :name => "commit", :value => "Create", :class => 'button positive', :id => "create-annotation"} Submit Change
    = link_to "Cancel", @species, :class => "button"