%h2.colored.nobreak
  Taxonomic Browser
#filters
  %p.in
    Current Filter: 
    %span#filterval
      none
  =image_tag 'plus_button.gif', :id => 'options_image'
  = render :partial => '/shared/options'

.boxed
  #taxonomic_selector.clearfix
    - %w( kingdom phylum class order family ).each_with_index do |rank, i|
      .rank
        = label_tag "#{rank}-dropdown", rank.capitalize
        = select_tag rank, options_for_select([['Any','']], nil), :id => "#{rank}-dropdown"
