!!!
%html
  %head

    = stylesheet_link_tag 'styles.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery.lightbox-0.5.css'
    = stylesheet_link_tag 'jquery-ui.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"
    = javascript_include_tag 'jquery.lightbox-0.5'
    = javascript_include_tag 'ajax', 'application'
    
    %script{:type => "text/javascript"}
      = yield(:script)
      
    %title
      Common Names for Higher Taxa
  %body
    #main
      = render :partial => "/shared/user_control"
      = yield
      = render :partial => "/shared/footer"